root = true

[*]
indent_style = tab
tab_width = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = off
end_of_line = lf

[*.yml]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = off
end_of_line = lf