@font-face {
	font-family: "Open Sans";
	src: url("./font/OpenSans/normal.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./font/OpenSans/italic.ttf") format("truetype");
	font-style: italic;
}

* {
	font-display: block;
	font-family: inherit;

	cursor: inherit;
	pointer-events: inherit;
	outline: inherit;

	box-sizing: border-box;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	user-select: inherit;
	-moz-user-select: inherit;
	-webkit-user-select: inherit;
}

body {
	display: flex;
	flex-direction: column;

	font-family: "Open Sans", arial, sans-serif;

	min-height: 100vh;

	margin: 0;

	cursor: default;
	outline: none;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

body * {
	overflow: hidden;
}

container activity {
	display: grid;
	grid-template-columns: 4.5rem repeat(2, 5.35rem);
	grid-template-rows: 1.3rem repeat(2, 1rem) 0.8rem 0.4rem;

	width: 15.4rem;
	height: 4.5rem;

	background: #000;

	color: #FFF;

	border-radius: 0.4rem;

	margin: 0.5rem auto 0 auto;
}

container activity .title,
container activity .artists,
container activity .album {
	grid-column: 2 / 4;

	width: 100%;
	height: 100%;

	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	padding-left: 0.5rem;

	transform: translateY(-0.2em);
}

container activity .title {
	grid-row: 1;

	font-size: 0.9rem;
	font-weight: 700;

	margin-top: 0.3rem;
}

container activity .artists,
container activity .album {
	font-size: 0.7rem;
	font-weight: 400;
}

container activity .artists {
	grid-row: 2;

	opacity: 0.8;

	margin-top: 0.15rem;
}

container activity .album {
	grid-row: 3;

	opacity: 0.6;

	margin-top: 0.1rem;
}

container activity .thumbnail {
	grid-column: 1;
	grid-row: 1 / 6;

	width: 4.5rem;
	height: 4.5rem;
}

container activity .start,
container activity .end {
	grid-row: 4;

	font-size: 0.6rem;
	font-weight: 400;

	opacity: 0.4;

	transform: translateY(-0.2em);
}

container activity .start {
	grid-column: 2;

	text-align: left;

	margin-left: 0.5rem;
}

container activity .end {
	grid-column: 3;

	text-align: right;

	margin-right: 0.2rem;
}

container activity .bar {
	grid-column: 2 / 4;
	grid-row: 5;

	width: calc(100% - 0.7rem);
	height: calc(100% - 0.2rem);

	border: 0.01rem solid #FFF6;
	border-radius: 0.2rem;

	margin: 0 0.2rem 0.2rem 0.5rem;
}

container activity .bar .innerBar {
	width: 0;
	height: 100%;

	background: #FFF;

	transition: width 1s ease-out;
}


.fade {
	animation: fade 0.5s ease;
}

@keyframes fade {

	from,
	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slide {
	animation: slide 0.5s ease;
}

@keyframes slide {

	from,
	30% {
		transform: translateX(-1rem);
	}

	to {
		transform: translateX(0);
	}
}

.fade.slide {
	animation: fade 0.5s ease, slide 0.5s ease;
}