@import url("/lib/main.css");
@import url("../leaderboard.css");

main {
	background: none;

	width: 100%;

	text-align: center;
}

h2 {
	display: block;

	width: fit-content;
	height: fit-content;

	font-size: 2.2rem;
	font-weight: bold;

	margin: auto;
	padding: 0;
}

h3 {
	display: block;

	width: fit-content;
	height: fit-content;

	font-size: 1.4rem;
	font-weight: bold;

	margin: auto;
	padding: 0;
}

.banner {
	text-align: left;
}

.leaderboard .member[relative="-4"],
.leaderboard .member[relative="-3"],
.leaderboard .member[relative="-2"],
.leaderboard .member[relative="2"],
.leaderboard .member[relative="3"],
.leaderboard .member[relative="4"] {
	opacity: 0.6;
}

.leaderboard .member[relative="-1"],
.leaderboard .member[relative="1"] {
	opacity: 0.8;
}