* {
	font-display: block;
	font-family: inherit;

	cursor: inherit;
	pointer-events: inherit;
	outline: inherit;

	box-sizing: border-box;

	--background: #FFF;
	--color: #000;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	user-select: inherit;
	-moz-user-select: inherit;
	-webkit-user-select: inherit;
}

body {
	--header-size: 3.5rem;

	display: flex;
	flex-direction: column;

	background: var(--background);

	color: var(--color);
	font-family: "Open Sans", arial, sans-serif;

	min-height: calc(100vh - var(--header-size));

	margin: var(--header-size) 0 0 0;

	cursor: default;
	outline: none;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

body * {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	display: block;

	margin: 0;
}

h1 {
	font-size: 1.8rem;

	padding: 0.5rem;
}

h2 {
	font-size: 1.4rem;

	padding: 0.4rem;
}

h3 {
	font-size: 1.25rem;

	padding: 0.3rem;
}

h4 {
	font-size: 1.15rem;

	padding: 0.2rem;
}

p {
	display: block;
	margin: 0.5rem;
	padding: 0;
}

input,
button {
	background: var(--background);
	color: var(--color);
	font-size: 0.9rem;
	border: 0.1rem solid #8882;

	transition: border-color 0.2s linear;
}

input:focus,
input[type="submit"]:hover,
button:hover {
	border-color: var(--color);
}

input {
	width: 20rem;
	max-width: 100%;

	border-radius: 0.2rem;

	margin: 0.2rem;
	padding: 0.3rem 0.5rem;

	cursor: text;
}

input[type="submit"],
button {
	width: fit-content;

	border-radius: 1rem;

	margin: auto;

	cursor: pointer;
}

#error,
#wixkey-form {
	display: grid;
	grid-template-rows: 2.5rem 2rem 2rem;

	margin: auto;
	padding: 0.5rem;
}

#error h1,
#wixkey-form h1 {
	margin: auto;
}