@import url("/lib/main.css");
@import url("./leaderboard.css");

main {
	background: none;

	width: 100%;

	text-align: center;
}

h2 {
	display: block;

	width: fit-content;
	height: fit-content;

	font-size: 2.2rem;
	font-weight: bold;

	margin: auto;
	padding: 0;
}

.preview {
	display: grid;
	grid-template-columns: repeat(2, 15rem);
	grid-auto-rows: 10rem;
	gap: 0.5rem;

	width: 30.5rem;

	margin: auto;
}

.preview .block {
	display: grid;
	grid-template-rows: 2rem auto 2rem;
	border-radius: 1rem;

	padding: 0.5rem 2rem;
}

.preview .block[rank="1"] {
	background: linear-gradient(40deg, #FC0 25%, #FE2, #FC0 75%);
}

.preview .block[rank="2"] {
	background: linear-gradient(40deg, #AAA 25%, #DDD, #AAA 75%);
}

.preview .block[rank="3"] {
	background: linear-gradient(40deg, #C73 25%, #DB7, #C73 75%);
}

.preview .block .label {
	grid-row: 1;

	font-size: 1.5rem;

	opacity: 0.2;

	margin: auto;
}

.preview .block .rank {
	grid-row: 2;

	font-size: 2rem;
	font-weight: bolder;

	margin: auto;
}

.preview .block .value {
	grid-row: 3;

	font-size: 0.8rem;

	opacity: 0.5;

	margin: auto;
}

.details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem 3rem;

	width: fit-content;

	margin: auto;
}

.details .graph {
	width: fit-content;

	margin: auto;
}

.details h3 {
	display: none;
}