@import url("/lib/main.css");
@import url("../leaderboard.css");

main {
	background: none;

	width: 100%;

	text-align: center;
}

h2 {
	display: block;

	width: fit-content;
	height: fit-content;

	font-size: 2.2rem;
	font-weight: bold;

	margin: auto;
	padding: 0;
}

#entryDate {
	background: none;

	font-size: 1rem;

	border: none;
}

.leaderboard .member .rank,
.leaderboard .header .rank {
	grid-column: 1;
	grid-row: 1;

	display: flex;
	justify-content: left;
	align-items: center;

	padding-left: 0.4rem;
}

.leaderboard .member .name,
.leaderboard .header .name {
	grid-column: 2;
	grid-row: 1;

	text-overflow: ellipsis;
	white-space: nowrap;

	text-align: left;
	padding: 0.3rem 0;
}

.leaderboard .member .name>*,
.leaderboard .header .name>* {
	display: flex;
	justify-content: center;
	align-items: center;
}

.leaderboard .member .percent,
.leaderboard .header .percent {
	grid-column: 3;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .coins,
.leaderboard .header .coins {
	grid-column: 4;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .entries,
.leaderboard .header .entries {
	grid-column: 5;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .victories,
.leaderboard .header .victories {
	grid-column: 6;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;

	padding-right: 0.4rem;
}