@import url("/lib/main.css");
@import url("../leaderboard.css");

main {
	background: none;

	width: 100%;

	text-align: center;
}

h2 {
	display: block;

	width: fit-content;
	height: fit-content;

	font-size: 2.2rem;
	font-weight: bold;

	margin: auto;
	padding: 0;
}

#entryDate {
	background: none;

	font-size: 1rem;

	border: none;
}

.leaderboard .member,
.leaderboard .header {
	grid-template-columns: 1.75rem 2.75rem auto 3rem 4rem 4rem 4rem;
}


@media (max-width: 512px) {
	.leaderboard {
		width: 100%;

		padding: 0.5rem 0;
	}

	.leaderboard .member,
	.leaderboard .header {
		grid-template-columns: 1.75rem 2.75rem auto 2.5rem 3rem 3rem 3rem;
	}

	.leaderboard .header {
		display: none;
	}
}

.leaderboard .member .rank,
.leaderboard .header .rank {
	grid-column: 1;
	grid-row: 1;

	display: flex;
	justify-content: left;
	align-items: center;

	padding-left: 0.4rem;
}

.leaderboard .member .progress,
.leaderboard .header .progress {
	grid-column: 2;
	grid-row: 1;

	display: flex;
	justify-content: left;
	align-items: center;
}

.leaderboard .member .progress.up {
	color: #0A0;
}

.leaderboard .member .progress.down {
	color: #F00;
}

.leaderboard .member .progress.nochange {
	opacity: 0;
}

.leaderboard .member .name,
.leaderboard .header .name {
	grid-column: 3;
	grid-row: 1;

	text-align: left;
	padding: 0.3rem 0;
}

.leaderboard .member .name>*,
.leaderboard .header .name>* {
	display: flex;
	justify-content: center;
	align-items: center;
}

.leaderboard .member .percent,
.leaderboard .header .percent {
	grid-column: 4;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .coins,
.leaderboard .header .coins {
	grid-column: 5;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .entries,
.leaderboard .header .entries {
	grid-column: 6;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .victories,
.leaderboard .header .victories {
	grid-column: 7;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;

	padding-right: 0.4rem;
}