.leaderboard {
	display: flex;
	flex-direction: column;

	width: min(95%, 30rem);

	margin: auto;
	padding: 0.5rem;
}

.leaderboard .member,
.leaderboard .header {
	display: grid;
	grid-template-columns: 4rem auto 4rem 4rem 4rem 4rem;

	width: 100%;
	height: 2rem;

	margin: 0.1rem 0;
}

.leaderboard .member {
	background: var(--secondary-background);

	transition: transform 0.1s ease-out;

	cursor: pointer;
}

.leaderboard .header {
	font-size: 0.9rem;

	opacity: 0.4;
}

.leaderboard .member:hover {
	transform: scale(1.025);
}

.leaderboard>*>* {
	width: 100%;
	height: 100%;
}

.leaderboard .member .rank,
.leaderboard .header .rank {
	grid-column: 1;
	grid-row: 1;

	display: flex;
	justify-content: left;
	align-items: center;

	padding-left: 0.4rem;
}

.leaderboard .member .name,
.leaderboard .header .name {
	grid-column: 2;
	grid-row: 1;

	text-overflow: ellipsis;
	white-space: nowrap;

	text-align: left;
	padding: 0.3rem 0;
}

.leaderboard .member .name>*,
.leaderboard .header .name>* {
	display: flex;
	justify-content: center;
	align-items: center;
}

.leaderboard .member .percent,
.leaderboard .header .percent {
	grid-column: 3;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .victories,
.leaderboard .header .victories {
	grid-column: 4;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .entries,
.leaderboard .header .entries {
	grid-column: 5;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;
}

.leaderboard .member .coins,
.leaderboard .header .coins {
	grid-column: 6;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	text-align: right;

	padding-right: 0.4rem;
}

.leaderboard .member:nth-child(2) {
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}

.leaderboard .member:last-child {
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}