.leaderboard {
	display: flex;
	flex-direction: column;

	width: min(95%, 30rem);

	margin: auto;
	padding: 0.5rem;
}

.leaderboard .member {
	display: grid;
	grid-template-columns: 3rem 2rem auto 5rem;

	width: 100%;
	height: 2rem;

	background: var(--secondary-background);

	margin: 0.1rem 0;

	transition: transform 0.1s ease-out;

	cursor: pointer;
}

.leaderboard .member:hover {
	transform: scale(1.025);
}

.leaderboard .member .rank {
	grid-column: 1;
	grid-row: 1;

	display: flex;
	justify-content: left;
	align-items: center;

	width: 2rem;
	height: 2rem;

	padding-left: 0.4rem;
}

.leaderboard .member img {
	grid-column: 2;
	grid-row: 1;

	width: 1.7rem;
	height: 1.7rem;

	border-radius: 1rem;
}

.leaderboard .member .name {
	grid-column: 3;
	grid-row: 1;

	width: 100%;
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.leaderboard .member .points {
	grid-column: 4;
	grid-row: 1;

	display: flex;
	justify-content: right;
	align-items: center;

	width: 5rem;
	height: 2rem;

	text-align: right;

	padding-right: 0.4rem;
}

.leaderboard .member:first-child {
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}

.leaderboard .member:last-child {
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}

.leaderboard .member.self .name {
	font-weight: 600;
}